@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-author: var(--font-author);
  --font-fragment: var(--font-fragment);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-author, sans-serif);
}

button {
  cursor: pointer;
}

.btn {
  min-width: 180px;
  height: 50px;
  gap: 8px;
  border-radius: 12px;
  padding-block: 10px;
  padding-inline: 30px;
  transition: background 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.btn.primary {
  background: linear-gradient(180deg, #ff0004 0%, #e16b55 100%);
}

.btn.primary:hover {
  opacity: 0.9;
}

.btn.secondary {
  background: #ffffff1a;
  backdrop-filter: blur(44px);

  &:hover {
    background: #ffffff33;
  }
}

.btn.tertiary {
  background-color: #230b12;
}

.btn.tertiary:hover {
  background-color: #340001;
}

.card-border {
  /* border: 1px solid #340001; */
  border: 1px solid #631a1a;
  /* border-image-source: linear-gradient(180deg, #631a1a 49.92%, #340001 100%); */
}

/* Testimonial Marquee Animations */
@keyframes marquee-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes marquee-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-marquee-up {
  animation: marquee-up 40s linear infinite;
}

.animate-marquee-up:hover {
  animation-play-state: paused;
}

.animate-marquee-down {
  animation: marquee-down 40s linear infinite;
}

.animate-marquee-down:hover {
  animation-play-state: paused;
}

.animate-marquee-left {
  animation: marquee-left 40s linear infinite;
}

.animate-marquee-left:hover {
  animation-play-state: paused;
}

.animate-marquee-right {
  animation: marquee-right 40s linear infinite;
}
.animate-marquee-right:hover {
  animation-play-state: paused;
}

.vignette {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 30%,
    rgb(0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.vignette::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
  /* box-shadow: inset 0 0 120px rgb(0, 0, 0); */
}
