@import "tailwindcss";

body {
  background-color: #000;
}
.btn {
  border-radius: 32px;
  background: radial-gradient(
    207.48% 111.8% at 0% 50%,
    #d746f9 0%,
    #8a34ff 61.89%,
    #a200e2 100%
  );
}
